
{{#link-to 'register.modify' model}}
	 {{fullName}}
{{/link-to}}

<a {{ action 'toggleIsView'}} style='margin-left:8px'>View</a>
<a {{ action 'toggleEdit'}} style='margin-left:8px'>Edit</a>

{{#if shouldShow }}
	<div class="row">
		<div class="col-md-12" style="padding-top:8px;">
			<label class="col-md-1">First name:</label>
			{{#if isView}}
			   <span>{{model.firstName}}</span>
			{{/if}}
			{{#if isEdit}}
			   {{input type='text' value=model.firstName}}
			{{/if}}
		</div>
		<div class="col-md-12" style="padding-top:8px;">
			<label class="col-md-1">Last name:</label>
			{{#if isView}}
			  <span>{{model.lastName}}</span>
			{{/if}}
			{{#if isEdit}}
			   {{input type='text' value=model.lastName}}
			{{/if}}
		</div>
		<div class="col-md-12" style="padding-top:8px;">
			<label class="col-md-1">Email:</label>
			{{#if isView}}
			   <span>{{model.email}}</span>
			{{/if}}
			{{#if isEdit}}
			   {{input type='text' value=model.email}}
			{{/if}}
		</div>
		<div class="col-md-12" style="padding-top:8px;">
			<label class="col-md-1">Address:</label>
			{{#if isView}}
			   <span>{{model.address}}</span>
			{{/if}}
			{{#if isEdit}}
			   {{input type='text' value=model.address}}
			{{/if}}
		</div>

		<div class="col-md-12" style="padding-top:8px;">
			<label class="col-md-1">Date of birth:</label>
			{{#if isView}}
			   <span>{{model.dob}}</span>
			{{/if}}
		</div>
	</div>
{{/if}}
